h3
  a.text-primary Menu - Roles
  small
.row
  .col-sm-6
    .panel.panel-default
      .panel-body
        form.form-horizontal
        fieldset
          legend Menu
            .pull-right
              button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Menú", ng-click='menu.addMenu()')
                span: em.icon-plus
                span Agregar Menú
          .table-responsive.table-bordered(ng-repeat='item in menu.data', ng-init='showSubmenu = false')
            table.table.table-hover.wd-wide
              thead
                tr
                  th
                    em.fa.text-primary(ng-if='item.submenu!=null', ng-class="{'fa-plus-circle' : item.show == false, 'fa-minus-circle': item.show == true}", ng-click='item.show = !item.show')
                    em.fa.text-primary(ng-if='item.submenu==null', ng-class="{'fa-minus' : true}")
                    span.lead.ml-lg.text-sm.text-primary(ng-click='showSubmenu = !showSubmenu; menu.getRol(item)') {{item.label}}
                  th
                    .ph.m0.text-muted.visible-inline.pull-right
                      em.icon-pencil.mr.text-primary(tooltip="Editar Menú", tooltip-placement='bottom', ng-click='menu.edit(item)')
                      em.icon-plus.mr.text-primary(tooltip="Agregar Submenú", tooltip-placement='bottom', ng-click='menu.addSubmenu(item)')
                      em.icon-trash.mr.text-danger(tooltip="Eliminar Menú", tooltip-placement='bottom', ng-click='menu.remove(item)')
                      i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar Roles", tooltip-placement='bottom', ng-click='menu.getRol(item)')
              tbody(ng-repeat='subItem in item.submenu', ng-if="item.show")
                tr
                  td
                    .col-sm-2
                    em.fa.text-primary(ng-if='subItem.submenu!=null', ng-class="{'fa-plus-circle' : subItem.show == false, 'fa-minus-circle': subItem.show == true}", ng-click='subItem.show = !subItem.show')
                    em.fa.text-primary(ng-if='subItem.submenu==null', ng-class="{'fa-minus' : true}")
                    span.lead.ml-lg.text-sm.text-primary(ng-click='menu.getRol(subItem)') {{subItem.label}}
                  td.wd-sm
                    .ph.m0.text-muted.visible-inline.pull-right
                        em.icon-pencil.mr.text-primary(tooltip="Editar Submenú", tooltip-placement='bottom', ng-click='menu.edit(subItem)')
                        em.icon-plus.mr.text-primary(tooltip="Agregar Submenú", tooltip-placement='bottom', ng-click='menu.addSubmenu(subItem)')
                        em.icon-trash.mr.text-danger(tooltip="Eliminar Submenú", tooltip-placement='bottom', ng-click='menu.remove(subItem)')
                        i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar Roles", tooltip-placement='bottom', ng-click='menu.getRol(subItem)')
                tr(ng-repeat='subItems in subItem.submenu', ng-if="subItem.show")
                  td
                    .col-sm-3
                    em.fa.text-primary(ng-class="{'fa-minus' : true}")
                    i.lead.ml-lg.text-sm.text-primary(ng-click='menu.getRol(subItems)') {{subItems.label}}
                  td.wd-sm
                    .ph.m0.text-muted.visible-inline.pull-right
                        em.icon-pencil.mr.text-primary(tooltip="Editar Submenú", tooltip-placement='bottom', ng-click='menu.edit(subItems)')
                        em.icon-trash.mr.text-danger(tooltip="Eliminar Submenú", tooltip-placement='bottom', ng-click='menu.remove(subItems)')
                        i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar Roles", tooltip-placement='bottom', ng-click='menu.getRol(subItems)')
  .col-sm-6
    .panel.panel-default
      .panel-body
        form.form-horizontal
        fieldset
          legend Roles ({{menuName}})
          div.mb-sm.clearfix(ng-repeat='item in roles.data')
            .col-sm-10
              span.lead.ml-lg.text-sm.text-primary.checkbox.c-checkbox.m0
                label
                  input(type='checkbox', ng-model='item.seleccionado', ng-click="roles.checkRol(item)")
                  span.fa.fa-check
                label(ng-click="") {{item.rol}}