<html>

<body>
   <h3><a ng-click="funcionario.back()" class="text-primary">Funcionario</a>
      <small>Gestiona la información de los funcionarios</small>
   </h3>
   <div class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <div class="mb-lg clearfix">
                        <button type="button" tooltip="Guardar" ng-click="funcionario.save()" class="btn btn-sm btn-primary">
                           <span>GUARDAR</span>
                        </button>
                        <button type="button" tooltip="Cancelar" ng-click="funcionario.back()" class="btn btn-sm btn-default">
                           <span>CANCELAR</span>
                        </button>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Documento</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.documento" ng-maxlength="80" ng-pattern="documento" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Código</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.codigo" ng-maxlength="80" ng-pattern="codigo" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Nombre</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.nombre" ng-maxlength="80" ng-pattern="nombre" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Email</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.email" ng-maxlength="80" ng-pattern="email" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Dirección</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.direccion" ng-maxlength="80" ng-pattern="direccion" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Matricula</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.matricula" ng-maxlength="80" ng-pattern="matricula" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Teléfono</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.telefono" ng-maxlength="80" ng-pattern="direccion" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Estado</label>
                        <div class="col-md-3">
                           <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==funcionario.model.estado" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Ingreso</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="funcionario.fechaIngreso.value" is-open="funcionario.fechaIngreso.isOpen" datepicker-options="funcionario.fechaIngreso.dateOptions" readonly="false" show-button-bar="false"
                              class="form-control input-sm" />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="funcionario.fechaIngreso.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Tipo Autenticación</label>
                        <div class="col-md-3">
                           <select ng-model="tipoAuth.current" ng-options="item.descripcion for item in tipoAuth.data" ng-selected="tipoAuth.current.value==funcionario.model.tipoAuth" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Usuario</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.usuario" ng-maxlength="80" ng-pattern="usuario" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Contraseña</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.contrasenia" ng-maxlength="80" ng-pattern="contrasenia" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Usuario Reg</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Usuario Act</label>
                        <div class="col-md-3">
                           <input ng-model="funcionario.model.usuarioAct" ng-maxlength="80" ng-pattern="usuarioAct" disabled="disabled" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Reg</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="funcionario.fechaReg.value" is-open="funcionario.fechaReg.isOpen" datepicker-options="funcionario.fechaReg.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="funcionario.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Act</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="funcionario.fechaAct.value" is-open="funcionario.fechaAct.isOpen" datepicker-options="funcionario.fechaAct.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="funcionario.fechaAct.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>