

<div class="modal-header">
   <header>
      <label class="col-md-7 control-label text-primary">Ubicación</label>
      <a type="button" ng-click="registroUbicacionModal.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body">   
	<div class="mb-sm clearfix">   
		<div id="map" style="height: 250px; width: 98%" />
	</div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Tipo:</label>
      <div class="col-md-3">
         <select ng-model="tipos.current" ng-options="item.descripcion for item in tipos.data" ng-selected="tipos.current.value==registroUbicacionModal.model.tipo" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Comentario:</label>
      <div class="col-md-6">
         <textarea ng-model="registroUbicacionModal.model.comentario" class="form-control"></textarea>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Longitud:</label>        
      <div class="col-md-3">	 
		<input id="longitud" ng-model="registroUbicacionModal.model.longitude" ng-maxlength="80" class="form-control" disabled>
      </div>
	  <label class="col-md-2 control-label">Latitud:</label>
      <div class="col-md-3">         
		 <input id="latitud" ng-model="registroUbicacionModal.model.latitude" ng-maxlength="80" class="form-control" disabled>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Fecha Inicio:</label>        
      <div class="col-md-3">	 
		<input id="fechaInicio" ng-model="registroUbicacionModal.model.fechaInicio | date:'dd/M/yyyy hh:mm'" ng-maxlength="80" class="form-control" disabled>
      </div>
	  <label class="col-md-2 control-label">Fecha Registro:</label>
      <div class="col-md-3">         
		 <input id="fecha" ng-model="registroUbicacionModal.model.fecha | date:'dd/M/yyyy hh:mm'" ng-maxlength="80" class="form-control" disabled>
      </div>
   </div>
   <div class="mb-sm clearfix"></div>
</div>
<div class="modal-footer">
   <button  type="button" tooltip="Guardar" ng-click="registroUbicacionModal.save()"  class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="registroUbicacionModal.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>
<script>		 
	 var map;	
	 function initMap() { 	 
            var latitude = parseFloat(document.getElementById("latitud").value);
            var longitude = parseFloat(document.getElementById("longitud").value);
            if (!isNaN(latitude) && !isNaN(longitude))
                setUbicacion(latitude, longitude);
            else {

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(setUbicacionActual);
                } else {

                    var map = new google.maps.Map(mapDiv, {
                        center: { lat: 44.540, lng: -78.546 },
                        zoom: 8
                    });
                }
            }
        }
        function setUbicacionActual(pos) {
			
            var crd = pos.coords;

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: crd.latitude, lng: crd.longitude },
                zoom: 16
            });
            var myLatLng = { lat: crd.latitude, lng: crd.longitude };

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Ubicación'
            });
			
			document.getElementById("latitud").value=crd.latitude;
			document.getElementById("longitud").value=crd.longitude;
        }

        function setUbicacion(latitude, longitude) {

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: latitude, lng: longitude },
                zoom: 16
            });
            var myLatLng = { lat: latitude, lng: longitude };

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Ubicación'
            });
        } 
	
		var fecha=document.getElementById("fecha").value;		
		if(fecha=="")initMap();				
		
	
		
		
    </script>

