<h3>Reportes
   <small>reportes por modulo</small>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix"></div>
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Modulo:</label>
            <div class="col-md-5">
               <select ng-model="modulo.current" ng-options="item.descripcion for item in modulo.data" ng-change="modulo.getData()" class="form-control"></select>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="reportes.filter()" ng-model="reportes.filterText" class="form-control input-sm" />
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>NOMBRE</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="reportes.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="reportes.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in reportes.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.nombre }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="..." tooltip-placement="bottom" ng-click="reportes.edit(item)" class="icon-control-play mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="reportes.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="reportes.paginations.totalItems" ng-model="reportes.paginations.currentPage" max-size="reportes.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="reportes.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="reportes.paginations.numPages" ng-change="reportes.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>