<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Operadora: {{agente.model.nombreOperadora}}</label>
      <label class="col-md-4 control-label text-primary">Agente</label>
      <a type="button" ng-click="agente.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Nombre</label>
      <div class="col-md-9">
         <input ng-model="agente.model.nombre" ng-maxlength="80" ng-pattern="nombre" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Dirección</label>
      <div class="col-md-4">
         <input ng-model="agente.model.direccion" ng-maxlength="80" class="form-control input-sm" />
      </div>
      <label class="col-md-1 control-label">Estado</label>
      <div class="col-md-4">
         <select ng-model="estados.current" ng-options="estado.nombre for estado in estados.data" ng-selected="estado==estados.current" ng-change="estados.setEstado()" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Documento</label>
      <div class="col-md-4">
         <input ng-model="agente.model.documento" ng-maxlength="20" ng-pattern="documento" class="form-control input-sm" />
      </div>
      <label class="col-md-1 control-label">Matrícula</label>
      <div class="col-md-4">
         <input ng-model="agente.model.matricula" ng-maxlength="25" ng-pattern="matricula" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">E-Mail</label>
      <div class="col-md-4">
         <input type="email" ng-model="agente.model.email" ng-pattern="mail" class="form-control input-sm" />
      </div>
      <label class="col-md-1 control-label">Teléfono</label>
      <div class="col-md-4">
         <input ng-model="agente.model.telefono" ng-pattern="telefono" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Tipo Autentic.</label>
      <div class="col-md-4">
         <select ng-model="autenticacion.current" ng-options="aut.nombre for aut in autenticacion.data" ng-selected="aut==autenticacion.current" ng-change="autenticacion.setAut()" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Usuario</label>
      <div class="col-md-4">
         <input ng-model="agente.model.usuario" class="form-control input-sm" />
      </div>
      <label class="col-md-2 control-label">Fecha Ingreso</label>
      <div class="col-md-3">
         <div class="input-group">
            <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="agente.fechaIngreso.value" is-open="agente.fechaIngreso.isOpen" datepicker-options="agente.fechaIngreso.dateOptions" readonly="false" show-button-bar="true" class="form-control input-sm"
            />
            <span class="input-group-btn">
               <button type="button" ng-click="agente.fechaIngreso.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
               </button>
            </span>
         </div>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Fecha Reg.</label>
      <div class="col-md-3">
         <input ng-model="agente.model.fechaReg" type="date" date-parser="dd/MM/YYYY" readonly="true" class="form-control input-sm" />
      </div>
      <label class="col-md-2 control-label">Usuario Reg.</label>
      <div class="col-md-3">
         <input ng-model="agente.model.usuarioReg" readonly="readonly" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Fecha Ult Act.</label>
      <div class="col-md-3">
         <input ng-model="agente.model.fechaAct" type="date" date-parser="dd/MM/YYYY" readonly="true" class="form-control input-sm" />
      </div>
      <label class="col-md-2 control-label">Usuario Act.</label>
      <div class="col-md-3">
         <input ng-model="agente.model.usuarioAct" readonly="readonly" class="form-control input-sm" />
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="agente.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="agente.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>