<h3><a class="text-primary">Menu - Roles</a>
   <small></small>
</h3>
<div class="row">
   <div class="col-sm-6">
      <div class="panel panel-default">
         <div class="panel-body">
            <form class="form-horizontal"></form>
            <fieldset>
               <legend>Menu
                  <div class="pull-right">
                     <button type="button" tooltip="Agregar Menú" ng-click="menu.addMenu()" class="btn btn-sm btn-primary">
                        <span>
                           <em class="icon-plus"></em>
                        </span>
                        <span>Agregar Menú</span>
                     </button>
                  </div>
               </legend>
               <div ng-repeat="item in menu.data" ng-init="showSubmenu = false" class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr>
                           <th>
                              <em ng-if="item.submenu!=null" ng-class="{'fa-plus-circle' : item.show == false, 'fa-minus-circle': item.show == true}" ng-click="item.show = !item.show" class="fa text-primary"></em>
                              <em ng-if="item.submenu==null" ng-class="{'fa-minus' : true}" class="fa text-primary"></em>
                              <span ng-click="showSubmenu = !showSubmenu; menu.getRol(item)" class="lead ml-lg text-sm text-primary">{{item.label}}</span>
                           </th>
                           <th>
                              <div class="ph m0 text-muted visible-inline pull-right">
                                 <em tooltip="Editar Menú" tooltip-placement="bottom" ng-click="menu.edit(item)" class="icon-pencil mr text-primary"></em>
                                 <em tooltip="Agregar Submenú" tooltip-placement="bottom" ng-click="menu.addSubmenu(item)" class="icon-plus mr text-primary"></em>
                                 <em tooltip="Eliminar Menú" tooltip-placement="bottom" ng-click="menu.remove(item)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar Roles" tooltip-placement="bottom" ng-click="menu.getRol(item)" class="fa fa-angle-double-right mr text-primary"></i>
                              </div>
                           </th>
                        </tr>
                     </thead>
                     <tbody ng-repeat="subItem in item.submenu" ng-if="item.show">
                        <tr>
                           <td>
                              <div class="col-sm-2"></div>
                              <em ng-if="subItem.submenu!=null" ng-class="{'fa-plus-circle' : subItem.show == false, 'fa-minus-circle': subItem.show == true}" ng-click="subItem.show = !subItem.show" class="fa text-primary"></em>
                              <em ng-if="subItem.submenu==null" ng-class="{'fa-minus' : true}" class="fa text-primary"></em>
                              <span ng-click="menu.getRol(subItem)" class="lead ml-lg text-sm text-primary">{{subItem.label}}</span>
                           </td>
                           <td class="wd-sm">
                              <div class="ph m0 text-muted visible-inline pull-right">
                                 <em tooltip="Editar Submenú" tooltip-placement="bottom" ng-click="menu.edit(subItem)" class="icon-pencil mr text-primary"></em>
                                 <em tooltip="Agregar Submenú" tooltip-placement="bottom" ng-click="menu.addSubmenu(subItem)" class="icon-plus mr text-primary"></em>
                                 <em tooltip="Eliminar Submenú" tooltip-placement="bottom" ng-click="menu.remove(subItem)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar Roles" tooltip-placement="bottom" ng-click="menu.getRol(subItem)" class="fa fa-angle-double-right mr text-primary"></i>
                              </div>
                           </td>
                        </tr>
                        <tr ng-repeat="subItems in subItem.submenu" ng-if="subItem.show">
                           <td>
                              <div class="col-sm-3"></div>
                              <em ng-class="{'fa-minus' : true}" class="fa text-primary"></em><i ng-click="menu.getRol(subItems)" class="lead ml-lg text-sm text-primary">{{subItems.label}}</i>
                           </td>
                           <td class="wd-sm">
                              <div class="ph m0 text-muted visible-inline pull-right">
                                 <em tooltip="Editar Submenú" tooltip-placement="bottom" ng-click="menu.edit(subItems)" class="icon-pencil mr text-primary"></em>
                                 <em tooltip="Eliminar Submenú" tooltip-placement="bottom" ng-click="menu.remove(subItems)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar Roles" tooltip-placement="bottom" ng-click="menu.getRol(subItems)" class="fa fa-angle-double-right mr text-primary"></i>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </fieldset>
         </div>
      </div>
   </div>
   <div class="col-sm-6">
      <div class="panel panel-default">
         <div class="panel-body">
            <form class="form-horizontal"></form>
            <fieldset>
               <legend>Roles ({{menuName}})</legend>
               <div ng-repeat="item in roles.data" class="mb-sm clearfix">
                  <div class="col-sm-10">
                     <span class="lead ml-lg text-sm text-primary checkbox c-checkbox m0">
                        <label>
                           <input type="checkbox" ng-model="item.seleccionado" ng-click="roles.checkRol(item)" />
                           <span class="fa fa-check"></span>
                        </label>
                        <label ng-click="">{{item.rol}}</label>
                     </span>
                  </div>
               </div>
            </fieldset>
         </div>
      </div>
   </div>
</div>