.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary(ng-if="datosParams.edit==false") Agregar: {{compromiso.model.compromisoName}}
    label.col-md-7.control-label.text-primary(ng-if="datosParams.edit==true") Editar: {{compromiso.model.compromisoName}}
    a.pull-right(type="button", ng-click="compromiso.dismiss()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-2.control-label Nombre
      .col-md-10
        input.form-control.input-sm(ng-model='compromiso.model.nombre')
    .mb-sm.clearfix
      label.col-md-2.control-label Período
      .col-md-7
        select.form-control(ng-model='tipoPeriodo.current', ng-options='item.descripcion for item in tipoPeriodo.data', ng-selected="tipoPeriodo.current.value==compromiso.model.tipoPeriodo")
    .mb-sm.clearfix
      label.col-md-2.control-label Excel
      .col-md-7
        select.form-control(ng-model='excel.current', ng-options='item.descripcion for item in excel.data', ng-selected="estados.current.value==compromiso.model.excel")
    .mb-sm.clearfix
      label.col-md-2.control-label Word
      .col-md-7
        select.form-control(ng-model='word.current', ng-options='item.descripcion for item in word.data', ng-selected="word.current.value==compromiso.model.word")
    .mb-sm.clearfix
      label.col-md-2.control-label Pdf
      .col-md-7
        select.form-control(ng-model='pdf.current', ng-options='item.descripcion for item in pdf.data', ng-selected="pdf.current.value==compromiso.model.pdf")
    .mb-sm.clearfix
      label.col-md-2.control-label Física
      .col-md-7
        select.form-control(ng-model='fisica.current', ng-options='item.descripcion for item in fisica.data', ng-selected="fisica.current.value==compromiso.model.fisica")
   
.modal-footer
  button.btn.btn-primary(ng-show="datosParams.edit", type="button", tooltip="Guardar", ng-click="compromiso.edit()")
    span GUARDAR
  button.btn.btn-primary(ng-show="!datosParams.edit", type="button", tooltip="Agrega Menú", ng-click="compromiso.add()")
    span ACEPTAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="compromiso.dismiss()")
    span CANCELAR