html
  body
    h3
      a.text-primary(ng-click='contrato.back()') Contrato
      small Gestiona la información de los contratos
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='contrato.save()')
                    span GUARDAR                 
                  button.btn.btn-sm.btn-default(type='button',tooltip='Adjuntos' ng-click='contrato.uploadFile()',ng-show="divParticipanteContrato")
                    span ADJUNTOS                    
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='contrato.agenda()',ng-show="divParticipanteContrato")
                    span AGENDAS
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimientos', ng-click='contrato.seguimiento()',ng-show="divParticipanteContrato")
                    span ...  
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Inicial
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaInicial.value", is-open="contrato.fechaInicial.isOpen", datepicker-options="contrato.fechaInicial.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaInicial.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Final
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaFinal.value", is-open="contrato.fechaFinal.isOpen", datepicker-options="contrato.fechaFinal.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaFinal.open($event)')
                          i.fa.fa-calendar 
                .mb-sm.clearfix
                  label.col-md-2.control-label Cliente
                  .col-md-6
                     ui-select(ng-model='tercerosCon.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Cliente') {{$select.selected.tercero}}
                      ui-select-choices(repeat="m in tercerosCon.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']")
                        div(ng-bind-html='m.tercero | highlight: $select.search')
                        small {{m.identificacion}}  
                .mb-sm.clearfix
                  label.col-md-2.control-label Tipo 
                  .col-md-3
                    select.form-control(ng-model='tipoContrato.current', ng-options="tipo.descripcion for tipo in tipoContrato.data | orderBy: 'descripcion'", ng-selected='tipo.Codigo==contrato.model.tipoContratoId', ng-change='tipoContrato.setTipo()')
                  label.col-md-2.control-label Objeto 
                  .col-md-3
                    select.form-control(ng-model='objetoContrato.current', ng-options="objeto.descripcion for objeto in objetoContrato.data | orderBy: 'descripcion'", ng-selected='objeto.Codigo==contrato.model.objetoId', ng-change='objetoContrato.setObjeto()')  
                .mb-sm.clearfix                
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==contrato.model.estado") 
                .mb-sm.clearfix
                 label.col-md-2.control-label Descripción
                 .col-md-6
                    textarea.form-control( ng-model="contrato.model.descripcion")  
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                
                .mb-sm.clearfix
                  label.col-md-2.control-label Longitud
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.longitude', ng-maxlength='80', ng-pattern='longitude')   
                  label.col-md-2.control-label Latitud
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.latitude', ng-maxlength='80', ng-pattern='latitude')   
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaReg.value", is-open="contrato.fechaReg.isOpen", datepicker-options="contrato.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaAct.value", is-open="contrato.fechaAct.isOpen", datepicker-options="contrato.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaAct.open($event)')
                          i.fa.fa-calendar 
tabset.bg-white.p0(justified='true',ng-show="divParticipanteContrato")           
    tab
        tab-heading Participantes
        fieldset.mb-sm.pb-sm         
            .panel
                .panel-heading
                  .row
                    .input-group.m0.col-xs-6.col-sm-3.pull-left
                      span.input-group-addon.input-sm
                        em.icon-magnifier
                      input.form-control.input-sm(type='text', ng-model='filtroparticipanteContrato' )
                    .form-group.m0.col-xs-6.col-sm-9
                      .pull-right
                        button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Participante", ng-click='participanteContrato.add()')
                          span: em.icon-plus
                          span.hidden-xs {{ 'app.ADD' | translate }}
                .panel-body.p0
                    .table-responsive.table-bordered
                      table.table.table-hover.wd-wide
                        thead
                          tr
                           th
                           th NOMBRE                       
                           th CARGO
                         tbody
                           tr(ng-repeat="part in participanteContrato.data | filter: filtroparticipanteContrato | orderBy: 'nombre'")
                            td.wd-xxs
                              button.btn.btn-xs.btn-primary(ng-click="participanteContrato.edit(part)")
                                span.fa.fa-pencil-square-o
                            td {{part.funcionario}}
                            td {{part.cargo}}
                            td
                              em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='participanteContrato.delete(part)')
              
    tab
        tab-heading Compromisos 
        fieldset.mb-sm.pb-sm
           
            .panel
                .panel-heading
                  .row
                    .input-group.m0.col-xs-6.col-sm-3.pull-left
                      label.col-md-2.control-label Tipo:           
                      select.form-control(ng-model='tipoCompromiso.current', ng-options='item.descripcion for item in tipoCompromiso.data', ng-change="compromiso.getData()")

            
              .col-sm-6
                .panel.panel-default
                  .panel-body
                    form.form-horizontal
                    fieldset         
                        .pull-left
                          button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar ", ng-click='compromiso.addCompromiso()')
                            span: em.icon-plus
                            span Compromiso
                          button.btn.btn-sm.btn-primary(type='button', tooltip="Guardar", ng-click='compromiso.save()')
                            span: em.icon-save
                            span Guardar
                            br
                      .table-responsive.table-bordered(ng-repeat='item in compromiso.data', ng-init='showsubCompromiso = false')
                        table.table.table-hover.wd-wide
                          thead
                            tr
                              th
                                em.fa.text-primary(ng-if='item.subCompromiso!=null', ng-class="{'fa-plus-circle' : item.show == false, 'fa-minus-circle': item.show == true}", ng-click='item.show = !item.show')
                                em.fa.text-primary(ng-if='item.subCompromiso==null', ng-class="{'fa-minus' : true}")
                                span.lead.ml-lg.text-sm.text-primary(ng-click='showsubCompromiso = !showsubCompromiso; compromiso.getParticipante(item)') {{item.nombre}}
                              th
                                .ph.m0.text-muted.visible-inline.pull-right
                                  em.icon-pencil.mr.text-primary(tooltip="Editar", tooltip-placement='bottom', ng-click='compromiso.edit(item)')
                                  em.icon-plus.mr.text-primary(tooltip="Agregar", tooltip-placement='bottom', ng-click='compromiso.addsubCompromiso(item)')
                                  em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='compromiso.remove(item)')
                                  i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar", tooltip-placement='bottom', ng-click='compromiso.getParticipante(item)')
                          tbody(ng-repeat='subItem in item.subCompromiso', ng-if="item.show")
                            tr
                              td
                                .col-sm-2
                                em.fa.text-primary(ng-if='subItem.subCompromiso!=null', ng-class="{'fa-plus-circle' : subItem.show == false, 'fa-minus-circle': subItem.show == true}", ng-click='subItem.show = !subItem.show')
                                em.fa.text-primary(ng-if='subItem.subCompromiso==null', ng-class="{'fa-minus' : true}")
                                span.lead.ml-lg.text-sm.text-primary(ng-click='compromiso.getParticipante(subItem)') {{subItem.nombre}}
                              td.wd-sm
                                .ph.m0.text-muted.visible-inline.pull-right
                                    em.icon-pencil.mr.text-primary(tooltip="Editar", tooltip-placement='bottom', ng-click='compromiso.edit(subItem)')
                                    em.icon-plus.mr.text-primary(tooltip="Agregar", tooltip-placement='bottom', ng-click='compromiso.addsubCompromiso(subItem)')
                                    em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='compromiso.remove(subItem)')
                                    i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar", tooltip-placement='bottom', ng-click='compromiso.getParticipante(subItem)')
                            tr(ng-repeat='subItems in subItem.subCompromiso', ng-if="subItem.show")
                              td
                                .col-sm-3
                                em.fa.text-primary(ng-class="{'fa-minus' : true}")
                                i.lead.ml-lg.text-sm.text-primary(ng-click='compromiso.getParticipante(subItems)') {{subItems.nombre}}
                              td.wd-sm
                                .ph.m0.text-muted.visible-inline.pull-right
                                    em.icon-pencil.mr.text-primary(tooltip="Editar ", tooltip-placement='bottom', ng-click='compromiso.edit(subItems)')
                                    em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='compromiso.remove(subItems)')
                                    i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar", tooltip-placement='bottom', ng-click='compromiso.getParticipante(subItems)')
              .col-sm-6
                .panel.panel-default
                  .panel-body
                    form.form-horizontal
                    fieldset
                      legend Participantes ({{nombreCompromiso}})
                      div.mb-sm.clearfix(ng-repeat='item in participantes.data')
                        .col-sm-10
                          span.lead.ml-lg.text-sm.text-primary.checkbox.c-checkbox.m0
                            label
                              input(type='checkbox', ng-model='item.seleccionado', ng-click="participantes.checkParticipante(item)")
                              span.fa.fa-check
                            label(ng-click="") {{item.rol}}
                    
                      
             
