h3
  a.text-primary Roles
  small
.row
  .col-sm-12
    .panel.panel-default
      .panel-body
        form.form-horizontal
        fieldset
          legend 
            .input-group.m0.col-xs-6.col-sm-3.pull-left
              span.input-group-addon.input-sm
                em.icon-magnifier
              input.form-control.input-sm(type='text' ng-model='filterText' )
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip='Agregar Rol', ng-click='gridOptions.add()')
              span: em.icon-plus
              span Nuevo Rol
          .table-responsive.table-bordered(style="width: 100%")
            table.table.table-hover.wd-wide
              thead
                tr
                  th ID
                  th NOMBRE
                  th ESTADO
                  th
              tbody(style="width: 100%; height: 400px;")
                tr(ng-repeat="item in gridOptions.data | orderBy: 'id' | filter: filterText")
                  td {{item.id}}
                  td(ng-init="name=item.nombre") {{item.nombre}}
                  td
                    span.label.label-primary(ng-if="item.estado == 1") Activo
                    span.label.label-default(ng-if="item.estado == 0") Inactivo
                  td.wd-sm
                    .ph.m0.visible-inline.pull-right
                      em.icon-pencil.mr(tooltip="Editar", tooltip-placement='bottom', ng-click='gridOptions.edit(item)', ng-if="item.id!=1")
                      em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='gridOptions.remove(item)', ng-if="item.id!=1")