.ngdialog-message
  p.text-center.text-lg.mb-xs
    em.fa.fa-exclamation-triangle.text-warning
  p.lead.text-center ¡Debe seleccionar todos los filtros!
  p.text-right
    button.btn.btn-default(type='button', ng-click="closeThisDialog('button')") Cerrar
