<html>

<body>
   <h3><a ng-click="factura.back()" class="text-primary">Factura</a>
      <small>Gestiona la información de la factura</small>
   </h3>
   <div class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <div class="mb-lg clearfix">
                        <button type="button" tooltip="Guardar" ng-click="factura.save()" class="btn btn-sm btn-primary">
                           <span>GUARDAR</span>
                        </button>
                        <button type="button" tooltip="Adjuntos" ng-click="factura.uploadFile()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>ADJUNTOS</span>
                        </button>
                        <button type="button" tooltip="Agendas" ng-click="factura.agenda()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>AGENDAS</span>
                        </button>
                        <button type="button" tooltip="Seguimiento" ng-click="factura.seguimiento()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>...</span>
                        </button>
                        <button type="button" tooltip="Imprimir" ng-click="factura.imprimir()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>IMPRIMIR</span>
                        </button>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Consecutivo</label>
                        <div class="col-md-3">
                           <input ng-model="factura.model.consecutivo" ng-maxlength="80" ng-pattern="consecutivo" ng-disabled="true" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Cliente</label>
                        <div class="col-md-6">
                           <ui-select ng-model="tercerosOp.current" theme="bootstrap" on-select="tercerosOp.setContactoTercero()">
                              <ui-select-match placeholder="Seleccione Cliente">{{$select.selected.tercero}}</ui-select-match>
                              <ui-select-choices repeat="m in tercerosOp.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']">
                                 <div ng-bind-html="m.tercero | highlight: $select.search"></div>
                                 <small>{{m.identificacion}}</small>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                        <div class="col-md-2">
                           <button type="button" tooltip="Ver" ng-click="factura.verCliente()" ng-="ng-" show="btnAdjunto" class="btn btn-sm btn-default">
                              <span>...</span>
                           </button>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Contacto</label>
                        <div class="col-md-6">
                           <ui-select ng-model="contactosOp.current" theme="bootstrap" on-select="contactosOp.setContacto()">
                              <ui-select-match placeholder="Seleccione Contacto">{{$select.selected.nombre}}</ui-select-match>
                              <ui-select-choices repeat="m in contactosOp.data | propsFilter: {nombre: $select.search, identificacion: $select.search} | orderBy: ['nombre', 'cargo']">
                                 <div ng-bind-html="m.nombre | highlight: $select.search"></div>
                                 <small>Cargo:{{m.cargo}} | Email:{{m.email}} | Télefono:{{m.telefono}}</small>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Emisión</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="factura.fechaEmision.value" is-open="factura.fechaEmision.isOpen" datepicker-options="factura.fechaEmision.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="factura.fechaEmision.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Vencimiento</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="factura.fechaVencimiento.value" is-open="factura.fechaVencimiento.isOpen" datepicker-options="factura.fechaVencimiento.dateOptions" readonly="true" show-button-bar="false"
                              class="form-control input-sm" />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="factura.fechaVencimiento.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar">                </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Asunto</label>
                        <div class="col-md-6">
                           <input ng-model="factura.model.asunto" ng-maxlength="80" ng-pattern="asunto" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Descripción</label>
                        <div class="col-md-6">
                           <textarea ng-model="factura.model.descripcion" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Estado</label>
                        <div class="col-md-3">
                           <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==factura.model.estado" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Usuario Reg</label>
                        <div class="col-md-3">
                           <input ng-model="factura.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Usuario Act</label>
                        <div class="col-md-3">
                           <input ng-model="factura.model.usuarioAct" ng-maxlength="80" ng-pattern="usuarioAct" disabled="disabled" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Reg</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="factura.fechaReg.value" is-open="factura.fechaReg.isOpen" datepicker-options="factura.fechaReg.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="factura.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Act</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="factura.fechaAct.value" is-open="factura.fechaAct.isOpen" datepicker-options="factura.fechaAct.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="factura.fechaAct.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div ng-show="divProductosfactura" class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <span class="lead md-lg text-primary">Productos</span>
                     <div class="row">
                        <div class="mb-sm clearfix">
                           <div class="col-xs-6">
                              <ui-select ng-model="productosOp.current" theme="bootstrap">
                                 <ui-select-match placeholder="Seleccione Producto">{{$select.selected.nombre}}</ui-select-match>
                                 <ui-select-choices repeat="m in productosOp.data | propsFilter: {nombre: $select.search, descripcion: $select.search} | orderBy: ['nombre', 'descripcion']">
                                    <div ng-bind-html="m.nombre | highlight: $select.search"></div>
                                    <small>{{m.descripcion}}</small>
                                 </ui-select-choices>
                              </ui-select>
                           </div>
                           <div class="col-xs-2">
                              <button type="button" tooltip="Agregar Producto" ng-click="productofactura.add()" class="btn btn-sm btn-primary">
                                 <span>
                                    <em class="icon-plus"></em>
                                 </span>
                                 <span>Agregar</span>
                              </button>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group col-sm-12">
                           <div class="table-responsive table-bordered">
                              <table class="table table-hover wd-wide">
                                 <thead>
                                    <tr>
                                       <td>Producto</td>
                                       <td>Cantidad</td>
                                       <td>Precio</td>
                                       <td>Iva</td>
                                       <td>Total</td>
                                       <td>Por Cobrar</td>
                                       <td>Comentario</td>
                                       <td></td>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="producto in productofactura.data ">
                                       <td>{{producto.producto}}</td>
                                       <td>
                                          <input type="text" ng-model="producto.cantidad" ui-number-mask="2" min="0" class="form-control input-sm" />
                                       </td>
                                       <td>
                                          <input type="text" ng-model="producto.valor" ui-number-mask="2" min="0" class="form-control input-sm" />
                                       </td>
                                       <td>
                                          <input type="text" ng-model="producto.valorIva" ui-number-mask="2" min="0" disabled="disabled" class="form-control input-sm" />
                                       </td>
                                       <td>
                                          <input type="text" ng-model="producto.total" ui-number-mask="2" min="0" disabled="disabled" class="form-control input-sm" />
                                       </td>
                                       <td>
                                          <input type="text" ng-model="producto.totalPendiente" ui-number-mask="2" min="0" class="form-control input-sm" />
                                       </td>
                                       <td>
                                          <input type="text" ng-model="producto.comentario" class="form-control input-sm" />
                                       </td>
                                       <td>
                                          <em tooltip="Guardar" tooltip-placement="bottom" ng-click="productofactura.update(producto)" class="fa fa-floppy-o"></em>
                                          <em tooltip="Eliminar Producto" tooltip-placement="bottom" ng-click="productofactura.delete(producto)" class="icon-trash mr text-danger"></em>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>