<div ng-show="loadingVisible" class="content-loading">
   <div class="loading">
      <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
      </p>
      <p class="text-center lead">Cargando...</p>
   </div>
</div>