<html>

<body>
   <div>Select an image file:
      <input id="fileInput" custom-on-change="handleFileSelect" type="file" />
   </div>
   <div class="cropArea">
      <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
   </div>
   <div>Cropped Image:</div>
   <div>
      <img ng-src="{{myCroppedImage}}" />
   </div>
</body>

</html>