<h3><a class="text-primary">Compromisos</a>
   <small></small>
</h3>
<div class="row">
   <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <form class="form-horizontal">
               <div class="col-md-2">
                  <label class="col-md-2 control-label">Tipo:</label>
               </div>
               <div class="col-md-2">
                  <select ng-model="tipo.current" ng-options="item.descripcion for item in tipo.data" ng-change="compromiso.getData()" class="form-control"></select>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6">
      <div class="panel panel-default">
         <div class="panel-body">
            <form class="form-horizontal"></form>
            <fieldset>
               <div class="pull-left">
                  <button type="button" tooltip="Agregar " ng-click="compromiso.addCompromiso()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span>Compromiso</span>
                     <br/>
                  </button>
               </div>
            </fieldset>
            <div ng-repeat="item in compromiso.data" ng-init="showsubCompromiso = false" class="table-responsive table-bordered">
               <table class="table table-hover wd-wide">
                  <thead>
                     <tr>
                        <th>
                           <em ng-if="item.subCompromiso!=null" ng-class="{'fa-plus-circle' : item.show == false, 'fa-minus-circle': item.show == true}" ng-click="item.show = !item.show" class="fa text-primary"></em>
                           <em ng-if="item.subCompromiso==null" ng-class="{'fa-minus' : true}" class="fa text-primary"></em>
                           <span ng-click="showsubCompromiso = !showsubCompromiso; compromiso.getRol(item)" class="lead ml-lg text-sm text-primary">{{item.nombre}}</span>
                        </th>
                        <th>
                           <div class="ph m0 text-muted visible-inline pull-right">
                              <em tooltip="Editar" tooltip-placement="bottom" ng-click="compromiso.edit(item)" class="icon-pencil mr text-primary"></em>
                              <em tooltip="Agregar" tooltip-placement="bottom" ng-click="compromiso.addsubCompromiso(item)" class="icon-plus mr text-primary"></em>
                              <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="compromiso.remove(item)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar Roles" tooltip-placement="bottom" ng-click="compromiso.getRol(item)" class="fa fa-angle-double-right mr text-primary"></i>
                           </div>
                        </th>
                     </tr>
                  </thead>
                  <tbody ng-repeat="subItem in item.subCompromiso" ng-if="item.show">
                     <tr>
                        <td>
                           <div class="col-sm-2"></div>
                           <em ng-if="subItem.subCompromiso!=null" ng-class="{'fa-plus-circle' : subItem.show == false, 'fa-minus-circle': subItem.show == true}" ng-click="subItem.show = !subItem.show" class="fa text-primary"></em>
                           <em ng-if="subItem.subCompromiso==null" ng-class="{'fa-minus' : true}" class="fa text-primary"></em>
                           <span ng-click="compromiso.getRol(subItem)" class="lead ml-lg text-sm text-primary">{{subItem.nombre}}</span>
                        </td>
                        <td class="wd-sm">
                           <div class="ph m0 text-muted visible-inline pull-right">
                              <em tooltip="Editar" tooltip-placement="bottom" ng-click="compromiso.edit(subItem)" class="icon-pencil mr text-primary"></em>
                              <em tooltip="Agregar" tooltip-placement="bottom" ng-click="compromiso.addsubCompromiso(subItem)" class="icon-plus mr text-primary"></em>
                              <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="compromiso.remove(subItem)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar Roles" tooltip-placement="bottom" ng-click="compromiso.getRol(subItem)" class="fa fa-angle-double-right mr text-primary"></i>
                           </div>
                        </td>
                     </tr>
                     <tr ng-repeat="subItems in subItem.subCompromiso" ng-if="subItem.show">
                        <td>
                           <div class="col-sm-3"></div>
                           <em ng-class="{'fa-minus' : true}" class="fa text-primary"></em><i ng-click="compromiso.getRol(subItems)" class="lead ml-lg text-sm text-primary">{{subItems.nombre}}</i>
                        </td>
                        <td class="wd-sm">
                           <div class="ph m0 text-muted visible-inline pull-right">
                              <em tooltip="Editar " tooltip-placement="bottom" ng-click="compromiso.edit(subItems)" class="icon-pencil mr text-primary"></em>
                              <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="compromiso.remove(subItems)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar Roles" tooltip-placement="bottom" ng-click="compromiso.getRol(subItems)" class="fa fa-angle-double-right mr text-primary"></i>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6">
      <div class="panel panel-default">
         <div class="panel-body">
            <form class="form-horizontal"></form>
            <fieldset>
               <legend>Cargos ({{nombreCompromiso}})</legend>
               <div ng-repeat="item in roles.data" class="mb-sm clearfix">
                  <div class="col-sm-10">
                     <span class="lead ml-lg text-sm text-primary checkbox c-checkbox m0">
                        <label>
                           <input type="checkbox" ng-model="item.seleccionado" ng-click="roles.checkRol(item)" />
                           <span class="fa fa-check"></span>
                        </label>
                        <label ng-click="">{{item.rol}}</label>
                     </span>
                  </div>
               </div>
            </fieldset>
         </div>
      </div>
   </div>
</div>