<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">Definir Contrato
         <a type="button" ng-click="forma30.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="row">
      <div class="col-md-12">
         <div class="form-group m-sm">
            <div class="mb-sm clearfix">
               <span class="col-md-2">Archivo</span>
               <div class="col-md-10">
                  <input ng-model="forma30.model.mes" disabled="disabled" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <span class="col-md-2">Comentario</span>
               <div class="col-md-10">
                  <textarea ng-model="forma30.model.gasFormacion" class="form-control input-sm"></textarea>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <ltable options="forma30.tableOptions" class="col-sm-12"></ltable>
   </div>
</div>
<div class="modal-footer">
   <button type="submit" class="btn btn-primary">Adjuntar</button>
   <button type="button" ng-click="forma30.close()" class="btn btn-default">Cancelar</button>
</div>