.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Crear Tercero
    a.pull-right(type="button", ng-click="cliente.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-1.control-label Identificación:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='cliente.model.identificacion', ng-maxlength='80')
    .mb-sm.clearfix
      label.col-md-1.control-label Nombre:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='cliente.model.nombre') 
    .mb-sm.clearfix
      label.col-md-1.control-label Dirección:
    .mb-sm.clearfix
      .col-md-12        
        textarea.form-control( ng-model="cliente.model.direccion")
    .mb-sm.clearfix
      label.col-md-1.control-label Teléfono:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='cliente.model.telefono')
    .mb-sm.clearfix
      label.col-md-1.control-label Contacto:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='cliente.model.nombreContacto')
    .mb-sm.clearfix
      label.col-md-1.control-label Teléfono:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='cliente.model.telefonoContacto')
    .mb-sm.clearfix
      label.col-md-3.control-label Cargo :
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='cliente.model.cargoContacto')
        
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="cliente.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="cliente.close()")
    span CANCELAR