html
  body
    h3
      a.text-primary(ng-click='oportunidad.back()') Procesos Comerciales
      small Gestiona la información de los procesos comerciales
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='oportunidad.save()')
                    span GUARDAR                         
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Adjuntos', ng-click='oportunidad.uploadFile()',ng-show="btnAdjunto")
                    span ADJUNTOS
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='oportunidad.agenda()',ng-show="btnAdjunto")
                    span AGENDAS                
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimiento', ng-click='oportunidad.seguimiento()',ng-show="btnAdjunto")
                    span ...      
                  button.btn.btn-sm.btn-warning(type='button',  tooltip='Seguimiento', ng-click='oportunidad.verSeguimientoHistorico()',ng-show="btnHistorico")
                    span H     
                .mb-sm.clearfix
                  label.col-md-2.control-label Consecutivo
                  .col-md-3
                    input.form-control.input-sm(ng-model='oportunidad.model.consecutivo',ng-maxlength='80',ng-pattern='consecutivo',ng-disabled='true')
                  label.col-md-2.control-label Proceso
                  .col-md-2
                    select.form-control(ng-model="tipoProceso.current", ng-options="item.descripcion for item in tipoProceso.data", ng-selected="tipoProceso.current.value==oportunidad.model.tipo")  
                .mb-sm.clearfix
                  label.col-md-2.control-label Cliente
                  .col-md-6
                     ui-select(ng-model='tercerosOp.current', theme='bootstrap',on-select='tercerosOp.setContactoTercero()')
                      ui-select-match(placeholder='Seleccione Cliente') {{$select.selected.tercero}}
                      ui-select-choices(repeat="m in tercerosOp.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']")
                        div(ng-bind-html='m.tercero | highlight: $select.search')                        
                        small {{m.identificacion}}
                  .col-md-2                     
                    button.btn.btn-sm.btn-default(type='button',  tooltip='Ver', ng-click='oportunidad.verCliente()',ng-        show="btnAdjunto")
                         span ...                                         
                      button.btn.btn-sm.btn-primary(type='button',  tooltip='Agregar Cliente', ng-click='oportunidad.crearCliente()')
                         span +                        
                .mb-sm.clearfix
                   label.col-md-2.control-label Contacto
                   .col-md-6
                     ui-select(ng-model='contactosOp.current', theme='bootstrap',on-select='contactosOp.setContacto()')
                      ui-select-match(placeholder='Seleccione Contacto') {{$select.selected.nombre}}
                      ui-select-choices(repeat="m in contactosOp.data | propsFilter: {nombre: $select.search, identificacion: $select.search} | orderBy: ['nombre', 'cargo']")
                        div(ng-bind-html='m.nombre | highlight: $select.search')                        
                        small  Cargo:{{m.cargo}} | Email:{{m.email}} | Télefono:{{m.telefono}}                         
                .mb-sm.clearfix
                  label.col-md-2.control-label Asunto
                  .col-md-6
                    input.form-control.input-sm(ng-model='oportunidad.model.asunto', ng-maxlength='80', ng-pattern='asunto')   
                .mb-sm.clearfix
                 label.col-md-2.control-label Descripción
                 .col-md-6
                    textarea.form-control( ng-model="oportunidad.model.descripcion")                    
                .mb-sm.clearfix                
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==oportunidad.model.estado") 
                  label.col-md-2.control-label Vía Contacto
                  .col-md-3
                    select.form-control(ng-model='viaContacto.current', ng-options="tipo.descripcion for tipo in viaContacto.data | orderBy: 'descripcion'", ng-selected='viaContacto.Codigo==oportunidad.model.viaContacto', ng-change='viaContacto.setViaContacto()')
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='oportunidad.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='oportunidad.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="oportunidad.fechaReg.value", is-open="oportunidad.fechaReg.isOpen", datepicker-options="oportunidad.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='oportunidad.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="oportunidad.fechaAct.value", is-open="oportunidad.fechaAct.isOpen", datepicker-options="oportunidad.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='oportunidad.fechaAct.open($event)')
                          i.fa.fa-calendar 
    .row(ng-show="divProductosOportunidad")
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                span.lead.md-lg.text-primary Productos
                .row
                  div.mb-sm.clearfix
                      .col-xs-6
                          ui-select(ng-model='productosOp.current', theme='bootstrap')
                           ui-select-match(placeholder='Seleccione Producto') {{$select.selected.nombre}}
                           ui-select-choices(repeat="m in productosOp.data | propsFilter: {nombre: $select.search, descripcion: $select.search} | orderBy: ['nombre', 'descripcion']")
                             div(ng-bind-html='m.nombre | highlight: $select.search')                        
                             small {{m.descripcion}}                         
                      .col-xs-2
                        button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Producto", ng-click='productoOportunidad.add()')
                          span: em.icon-plus
                          span Agregar
                .row
                 .form-group.col-sm-12 
                 
                     .table-responsive.table-bordered
                          table.table.table-hover.wd-wide
                           thead
                            tr
                             td Producto
                             td Cantidad
                             td Precio   
                             td Total   
                             td Comentario   
                             td                              
                           tbody
                            tr( ng-repeat="producto in productoOportunidad.data ")
                             td {{producto.producto}}
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.cantidad", ui-number-mask="2", min="0")
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.valor", ui-number-mask="2", min="0")
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.total", ui-number-mask="2", min="0",disabled)
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.comentario")
                             td
                              em.fa.fa-floppy-o(tooltip='Guardar', tooltip-placement='bottom', ng-click='productoOportunidad.update(producto)')
                              em.icon-trash.mr.text-danger(tooltip='Eliminar Producto', tooltip-placement='bottom', ng-click='productoOportunidad.delete(producto)') 
