h3 Procesos Comerciales
  small Control de los procesos comerciales
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix
        label.col-md-2.control-label Proceso:
        .col-md-4
          select.form-control(ng-model='tipoProceso.current', ng-options='item.descripcion for item in tipoProceso.data', ng-change="oportunidades.getData()")
        label.col-md-2.control-label Estado:
        .col-md-4
          select.form-control(ng-model='estado.current', ng-options='item.descripcion for item in estado.data', ng-change="oportunidades.getData()")
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='oportunidades.filter()' ng-model='oportunidades.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='oportunidades.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
           
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              
              th CONSECUTIVO  
              th FECHA  
              th CLIENTE                
              th ASUNTO      
              th TOTAL      
              th ESTADO                              
              th 
          tbody
            td.height-lg(colspan="7", ng-show="oportunidades.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="7", ng-show="oportunidades.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in oportunidades.data", ng-class="{true: 'active'}[item.check]")             
              td {{ item.consecutivo }}
              td {{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.tercero }}              
              td {{ item.asunto  }}   
              td {{ item.total | currency }}   
              td   
               span.label.label-primary(ng-if="item.estado == ESTADO_PROCESO") Proceso
               span.label.label-default(ng-if="item.estado == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.estado == ESTADO_CERRADO") Cerrado
               span.label.label-warning(ng-if="item.estado == ESTADO_CANCELADO") Cancelado              
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar ", tooltip-placement='bottom', ng-click='oportunidades.edit(item)')
                    em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='oportunidades.removeItem(item)')
    .row
      .col-lg-12(ng-hide='oportunidades.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='oportunidades.paginations.totalItems',ng-model='oportunidades.paginations.currentPage',max-size='oportunidades.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='oportunidades.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='oportunidades.paginations.numPages', ng-change='oportunidades.changePage()', first-text="«", last-text="»")