<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Participante Contrato</label>
      <a type="button" ng-click="participanteContrato.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Participante:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <ui-select ng-model="funcionarios.current" theme="bootstrap">
            <ui-select-match placeholder="Seleccione ">{{$select.selected.funcionario}}</ui-select-match>
            <ui-select-choices repeat="m in funcionarios.data | propsFilter: {funcionario: $select.search, identificacion: $select.search} | orderBy: ['funcionario', 'identificacion']">
               <div ng-bind-html="m.funcionario | highlight: $select.search"></div>
               <small>{{m.identificacion}}</small>
            </ui-select-choices>
         </ui-select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Cargo:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <select ng-model="cargo.current" ng-options="carg.descripcion for carg in cargo.data | orderBy: 'descripcion'" ng-selected="carg.Codigo==participanteContrato.model.cargoId" ng-change="cargo.setCargo()" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Usuario Reg:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <input ng-model="participanteContrato.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Fecha Reg:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-12">
         <div class="input-group">
            <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="participanteContrato.fechaReg.value" is-open="participanteContrato.fechaReg.isOpen" datepicker-options="participanteContrato.fechaReg.dateOptions" readonly="true" show-button-bar="false"
            class="form-control input-sm" />
            <span class="input-group-btn">
               <button type="button" ng-click="participanteContrato.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar">    </i>
               </button>
            </span>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="participanteContrato.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="participanteContrato.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>