h3 Consecutivo
  small Control de los consecutivo
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix
        label.col-md-2.control-label Tipo:
        .col-md-4
          select.form-control(ng-model='tipoConsecutivo.current', ng-options='item.nombre for item in tipoConsecutivo.data', ng-change="consecutivos.getData()")
        label.col-md-2.control-label Estado:
        .col-md-4
          select.form-control(ng-model='estado.current', ng-options='item.nombre for item in estado.data', ng-change="consecutivos.getData()")
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='consecutivos.filter()' ng-model='consecutivos.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='consecutivos.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}                      
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th CONSECUTIVO  
              th FECHA  
              th CLIENTE                
              th DESCRIPCION
              th ESTADO                              
              th 
          tbody
            td.height-lg(colspan="7", ng-show="consecutivos.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="7", ng-show="consecutivos.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in consecutivos.data ", ng-class="{true: 'active'}[item.check]")             
              td {{ item.codigo }}
              td {{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.tercero }}              
              td {{ item.descripcion  }}                   
              td   
               span.label.label-primary(ng-if="item.estado == ESTADO_PROCESO") Proceso
               span.label.label-default(ng-if="item.estado == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.estado == ESTADO_APROBADO") Aprobado                      
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar tercero", tooltip-placement='bottom', ng-click='consecutivos.edit(item)')
                    
    .row
      .col-lg-12(ng-hide='consecutivos.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='consecutivos.paginations.totalItems',ng-model='consecutivos.paginations.currentPage',max-size='consecutivos.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='consecutivos.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='consecutivos.paginations.numPages', ng-change='consecutivos.changePage()', first-text="«", last-text="»")