<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Detalle del Parametro</label>
      <a type="button" ng-click="parametro.dismiss()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
      <div text-angular="" ng-model="art.htmlContent" name="wysiswyg-editor" class="btn-group-small"></div>
   </header>
</div>
<div class="modal-body clearfix">{{parametro.view}}</div>
<div class="modal-footer">
   <button type="button" ng-click="parametro.dismiss()" class="btn btn-default">Cerrar</button>
</div>