.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Contacto Tercero
    a.pull-right(type="button", ng-click="contactoTercero.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      .col-md-6
        label.control-label Nombre:
        input.form-control.input-sm(ng-model='contactoTercero.model.nombre', ng-maxlength='80')
      .col-md-6
        label.control-label Email:
        input.form-control.input-sm(ng-model='contactoTercero.model.email')
    .mb-sm.clearfix
      .col-md-6
        label.control-label Teléfono:
        input.form-control.input-sm(ng-model='contactoTercero.model.telefono')         
      .col-md-6
        label.control-label Extensión:
        input.form-control.input-sm(ng-model='contactoTercero.model.ext')   
    .mb-sm.clearfix
      .col-md-6
        label.control-label Cargo:
        input.form-control.input-sm(ng-model='contactoTercero.model.cargo')
      .col-md-6
        label.control-label Envio-Info:
        select.form-control(ng-model="envioInf.current", ng-options="item.descripcion for item in envioInf.data", ng-selected="envioInf.current.value==contactoTercero.model.envioInf")
    .mb-sm.clearfix
      .col-md-4
        label.control-label Usuario:
        input.form-control.input-sm(ng-model='contactoTercero.model.usuario')   
      .col-md-4
        label.control-label Clave:
        input.form-control.input-sm(ng-model='contactoTercero.model.clave')   
      .col-md-4
        label.control-label Clave Temporal:
        input.form-control.input-sm(ng-model='contactoTercero.model.claveTmp')   
        
    
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="contactoTercero.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="contactoTercero.close()")
    span CANCELAR