h3 Calendario
  Agendas - Eventos
.row.col-xs-13
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix
        label.col-md-2.control-label Contrato:
        .col-md-5     
            ui-select(ng-model='contratos.current', theme='bootstrap')
              ui-select-match(placeholder='Seleccione Contrato') {{$select.selected.tercero}}
              ui-select-choices(repeat="m in contratos.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'contrato']")
                 div(ng-bind-html='m.tercero | highlight: $select.search')
                 small {{m.contrato}}  

// START row
.calendar-app
  .row
    .col-lg-3.col-md-4
      .row
        .col-md-12.col-sm-6.col-xs-12.co-xs-pull-12
          // START panel
          .panel.panel-default
            .panel-heading
              h4.panel-title Draggable Events
            // Default external events list
            .external-events-trash
              .panel-body
                .external-events
                  .bg-green Cita
                  .bg-danger Seguimiento
                  .bg-info Auditoría
                  .bg-warning Revisoría
                  .bg-inverse Impuestos
                p
                  span.checkbox.c-checkbox
                    label
                      input#remove-after-drop(type='checkbox')
                      span.fa.fa-check 
                      | Remove after Drop
          // END panel
        .col-md-12.col-sm-6.col-xs-12.co-xs-push-12
          // START panel
          .panel.panel-default
            .panel-heading
              h3.panel-title Crear 
            .panel-body
              .input-group.mb
                input.form-control.external-event-name(type='text', placeholder="Event name...")
                .input-group-btn
                  button.btn.btn-default.external-event-add-btn(type='button') Add
              p.text-muted: small Choose a Color
              ul.list-inline.external-event-color-selector
                li.p0: a.circle.circle-danger.circle-xl.selected(href='#')
                li.p0: a.circle.circle-primary.circle-xl(href='#')
                li.p0: a.circle.circle-info.circle-xl(href='#')
                li.p0: a.circle.circle-success.circle-xl(href='#')
                li.p0: a.circle.circle-warning.circle-xl(href='#')
                li.p0: a.circle.circle-green.circle-xl(href='#')
                li.p0: a.circle.circle-pink.circle-xl(href='#')
                li.p0: a.circle.circle-inverse.circle-xl(href='#')
                li.p0: a.circle.circle-purple.circle-xl(href='#')
          // END panel
    .col-lg-9.col-md-8
      // START panel
      .panel.panel-default
        .panel-body
          // START calendar
          div(calendar="")
          // END calendar
      // END panel
  // END row
