h3 Agendas
  small Control de agendas
  
.row.col-xs-11
  .panel
    .panel-body.p0
        .mb-sm.clearfix
        .mb-sm.clearfix
            label.col-md-1.control-label Proceso:
            .col-md-3
                select.form-control(ng-model='procesoAgenda.current', ng-options='item.proceso for item in procesoAgenda.data', ng-change='procesoAgenda.setProceso()')    
            label.col-md-1.control-label Tipo:
            .col-md-3
                select.form-control(ng-model='tipoAgenda.current', ng-options='item.descripcion for item in tipoAgenda.data')
            label.col-md-1.control-label Estado:
            .col-md-3
                select.form-control(ng-model='estadoAgenda.current', ng-options='item.descripcion for item in estadoAgenda.data')
        .mb-sm.clearfix
            label.col-md-1.control-label {{agendas.procesoAsociado}}
            .col-md-5
                ui-select(ng-model='procesoAsociado.current', theme='bootstrap',on-select='procesoAsociado.setProcesoAsociado()')
                      ui-select-match(placeholder='Seleccione') {{$select.selected.descripcion}}
                      ui-select-choices(repeat="m in procesoAsociado.data | propsFilter: {descripcion: $select.search, proceso: $select.search} | orderBy: ['proceso', 'descripcion']")
                        div(ng-bind-html='m.descripcion | highlight: $select.search')
                        small {{m.proceso}}         
            label.col-md-1.control-label Participante:
            .col-md-5
                ui-select(ng-model='responsableProceso.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione') {{$select.selected.nombre}}
                      ui-select-choices(repeat="m in responsableProceso.data | propsFilter: {nombre: $select.search, cargo: $select.search} | orderBy: ['nombre', 'cargo']")
                        div(ng-bind-html='m.nombre | highlight: $select.search')
                        small {{m.cargo}}
        .mb-sm.clearfix
            label.col-md-2.control-label Fecha Inicial:
            .col-md-3
             .input-group
                input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd ", ng-model="agendas.fechaInicial.value", is-open="agendas.fechaInicial.isOpen", datepicker-options="agendas.fechaInicial.dateOptions", readonly="true",   show-button-bar="false")
                span.input-group-btn
                 button.btn.btn-sm.btn-default(type='button', ng-click='agendas.fechaInicial.open($event)')
                  i.fa.fa-calendar  
            label.col-md-2.control-label Fecha Final:
            .col-md-3
             .input-group
                input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="agendas.fechaFinal.value", is-open="agendas.fechaFinal.isOpen", datepicker-options="agendas.fechaFinal.dateOptions", readonly="true", show-button-bar="false")
                span.input-group-btn
                 button.btn.btn-sm.btn-default(type='button', ng-click='agendas.fechaFinal.open($event)')
                  i.fa.fa-calendar  
          .mb-sm-10.clearfix.pb-sm
            .pull-right
              button.btn.btn-sm.pull-left.btn-primary(type='button' ng-click='agendas.getData()')
                span CONSULTAR
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='agendas.filter()' ng-model='agendas.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='agendas.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.SELECT' | translate }}", ng-click='agendas.selectAll()')
              span: em.text-primary.icon-check
              span.hidden-xs {{ 'app.SELECT' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.DELETE' | translate }}", ng-click='agendas.remove()')
              span: em.text-danger.icon-trash
              span.hidden-xs  {{ 'app.DELETE' | translate }}
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th
              th DESCRIPCION
              th ASUNTO                  
              th FECHA INICIO    
              th FECHA FIN    
              th ESTADO                              
              th 
          tbody
            td.height-lg(colspan="5", ng-show="agendas.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="5", ng-show="agendas.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in agendas.data | orderBy: 'nombre'", ng-class="{true: 'active'}[item.check]")
              td.wd-xxs
                .checkbox.c-checkbox.m0
                  label
                    input(type='checkbox',ng-model='item.check')
                    span.fa.fa-check
              td {{ item.description }}   
              td {{ item.title }}              
              td {{ item.start | date:'dd/M/yyyy hh:mm' }}          
              td {{ item.end | date:'dd/M/yyyy hh:mm' }}              
              td   
               span.label.label-primary(ng-if="item.state == ESTADO_ABIERTA") Abierta
               span.label.label-default(ng-if="item.state == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.state == ESTADO_CERRADO") Cerrado
               span.label.label-warning(ng-if="item.state == ESTADO_CANCELADO") Cancelado  
               span.label.label-warning(ng-if="item.state == ESTADO_APROBADA") Aprobada  
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar tercero", tooltip-placement='bottom', ng-click='agendas.edit(item)')
                  
    .row
      .col-lg-12(ng-hide='agendas.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='agendas.paginations.totalItems',ng-model='agendas.paginations.currentPage',max-size='agendas.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='agendas.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='agendas.paginations.numPages', ng-change='agendas.changePage()', first-text="«", last-text="»")