h3
  a.text-primary Compromisos
  small       
.row
  .col-sm-12
    .panel.panel-default
      .panel-body
        form.form-horizontal
          .col-md-2
           label.col-md-2.control-label Tipo:
          .col-md-2              
           select.form-control(ng-model='tipo.current', ng-options='item.descripcion for item in tipo.data', ng-change="compromiso.getData()")
      
.row
  .col-sm-6
    .panel.panel-default
      .panel-body
        form.form-horizontal
        fieldset         
            .pull-left
              button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar ", ng-click='compromiso.addCompromiso()')
                span: em.icon-plus
                span Compromiso
                br
          .table-responsive.table-bordered(ng-repeat='item in compromiso.data', ng-init='showsubCompromiso = false')
            table.table.table-hover.wd-wide
              thead
                tr
                  th
                    em.fa.text-primary(ng-if='item.subCompromiso!=null', ng-class="{'fa-plus-circle' : item.show == false, 'fa-minus-circle': item.show == true}", ng-click='item.show = !item.show')
                    em.fa.text-primary(ng-if='item.subCompromiso==null', ng-class="{'fa-minus' : true}")
                    span.lead.ml-lg.text-sm.text-primary(ng-click='showsubCompromiso = !showsubCompromiso; compromiso.getRol(item)') {{item.nombre}}
                  th
                    .ph.m0.text-muted.visible-inline.pull-right
                      em.icon-pencil.mr.text-primary(tooltip="Editar", tooltip-placement='bottom', ng-click='compromiso.edit(item)')
                      em.icon-plus.mr.text-primary(tooltip="Agregar", tooltip-placement='bottom', ng-click='compromiso.addsubCompromiso(item)')
                      em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='compromiso.remove(item)')
                      i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar Roles", tooltip-placement='bottom', ng-click='compromiso.getRol(item)')
              tbody(ng-repeat='subItem in item.subCompromiso', ng-if="item.show")
                tr
                  td
                    .col-sm-2
                    em.fa.text-primary(ng-if='subItem.subCompromiso!=null', ng-class="{'fa-plus-circle' : subItem.show == false, 'fa-minus-circle': subItem.show == true}", ng-click='subItem.show = !subItem.show')
                    em.fa.text-primary(ng-if='subItem.subCompromiso==null', ng-class="{'fa-minus' : true}")
                    span.lead.ml-lg.text-sm.text-primary(ng-click='compromiso.getRol(subItem)') {{subItem.nombre}}
                  td.wd-sm
                    .ph.m0.text-muted.visible-inline.pull-right
                        em.icon-pencil.mr.text-primary(tooltip="Editar", tooltip-placement='bottom', ng-click='compromiso.edit(subItem)')
                        em.icon-plus.mr.text-primary(tooltip="Agregar", tooltip-placement='bottom', ng-click='compromiso.addsubCompromiso(subItem)')
                        em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='compromiso.remove(subItem)')
                        i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar Roles", tooltip-placement='bottom', ng-click='compromiso.getRol(subItem)')
                tr(ng-repeat='subItems in subItem.subCompromiso', ng-if="subItem.show")
                  td
                    .col-sm-3
                    em.fa.text-primary(ng-class="{'fa-minus' : true}")
                    i.lead.ml-lg.text-sm.text-primary(ng-click='compromiso.getRol(subItems)') {{subItems.nombre}}
                  td.wd-sm
                    .ph.m0.text-muted.visible-inline.pull-right
                        em.icon-pencil.mr.text-primary(tooltip="Editar ", tooltip-placement='bottom', ng-click='compromiso.edit(subItems)')
                        em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='compromiso.remove(subItems)')
                        i.fa.fa-angle-double-right.mr.text-primary(tooltip="Mostrar Roles", tooltip-placement='bottom', ng-click='compromiso.getRol(subItems)')
  .col-sm-6
    .panel.panel-default
      .panel-body
        form.form-horizontal
        fieldset
          legend Cargos ({{nombreCompromiso}})
          div.mb-sm.clearfix(ng-repeat='item in roles.data')
            .col-sm-10
              span.lead.ml-lg.text-sm.text-primary.checkbox.c-checkbox.m0
                label
                  input(type='checkbox', ng-model='item.seleccionado', ng-click="roles.checkRol(item)")
                  span.fa.fa-check
                label(ng-click="") {{item.rol}}