h3
  a.text-primary Parametros
  small
.row
  .panel
    .panel-heading
      .row
          .input-group.m0.col-xs-6.col-sm-3.pull-left
            span.input-group-addon.input-sm
              em.icon-magnifier
            input.form-control.input-sm(type='text' ng-change='parametros.filter()' ng-model='parametros.filterText' )
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th DESCRIPCIÓN
              th VALOR
              th
          tbody
            td.height-lg(colspan="5", ng-show="parametros.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="5", ng-show="parametros.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in parametros.data | orderBy: 'descripcion' ", ng-class="{true: 'active'}[item.check]")
              td {{ item.descripcion }}
              td {{ item.valormin }}
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr.text-primary(tooltip="Editar parametro", tooltip-placement='bottom', ng-click='parametros.edit(item)')
    .row
      .col-lg-12(ng-hide='parametros.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='parametros.paginations.totalItems',ng-model='parametros.paginations.currentPage',max-size='parametros.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='parametros.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='parametros.paginations.numPages', ng-change='parametros.changePage()', first-text="«", last-text="»")