.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Detalle del Parametro
    a.pull-right(type="button", ng-click="parametro.dismiss()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-1.control-label Descripción:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='parametro.model.descripcion')
    .mb-sm.clearfix
      label.col-md-1.control-label Valor:
    .mb-sm.clearfix
      .col-md-12
        textarea.form-control(ng-model='parametro.model.valor', colspan="5",)
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="parametro.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="parametro.dismiss()")
    span CANCELAR