<div class="bg-login"></div>
<div class="block-center mt-xl wd-xl pt-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.svg" alt="Image" class="block-center img-rounded height-xxs" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">Ingrese sus credenciales para continuar</p>
         <form role="form" ng-submit="login.login()" name="login.loginForm" novalidate="" class="form-validate mb-lg">
            <div class="form-group has-feedback">
               <input id="exampleInputEmail1" type="text" name="account_email" placeholder="Usuario" autocomplete="off" ng-model="login.account.user" required="" class="form-control" />
               <span class="fa fa-user form-control-feedback text-muted"></span>
               <span ng-show="login.loginForm.account_email.$dirty &amp;&amp; login.loginForm.account_email.$error.required" class="text-danger">Usuario requerido</span>
            </div>
            <div class="form-group has-feedback">
               <input id="exampleInputPassword1" type="password" name="account_password" placeholder="Contraseña" ng-model="login.account.password" required="" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="login.loginForm.account_password.$dirty &amp;&amp; login.loginForm.account_password.$error.required" class="text-danger">Contraseña requerida</span>
            </div>
            <div class="clearfix">
               <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Olvido su contraseña?</a>
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">INGRESAR</button>
         </form>
         <div ng-show="login.authMsg" class="alert alert-danger text-center">{{login.authMsg}}</div>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center text-primary">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>