h3 Facturas
  small Control de facturación
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix        
        label.col-md-2.control-label Estado:
        .col-md-4
          select.form-control(ng-model='estado.current', ng-options='item.descripcion for item in estado.data', ng-change="facturas.getData()")
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='facturas.filter()' ng-model='facturas.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='facturas.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}           
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr              
              th CONSECUTIVO  
              th FECHA  
              th CLIENTE                
              th ASUNTO      
              th TOTAL     
              th POR COBRAR     
              th ESTADO                              
              th 
          tbody
            td.height-lg(colspan="8", ng-show="facturas.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="facturas.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in facturas.data ", ng-class="{true: 'active'}[item.check]")              
              td {{ item.consecutivo }}
              td {{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.tercero }}              
              td {{ item.asunto  }}   
              td {{ item.total | currency }}   
              td {{ item.totalPendiente | currency }}   
              td   
               span.label.label-primary(ng-if="item.estado == ESTADO_PROCESO") Proceso
               span.label.label-default(ng-if="item.estado == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.estado == ESTADO_CERRADO") Cerrado
               span.label.label-warning(ng-if="item.estado == ESTADO_CANCELADO") Cancelado              
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar", tooltip-placement='bottom', ng-click='facturas.edit(item)')
                    em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='facturas.removeItem(item)')
    .row
      .col-lg-12(ng-hide='facturas.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='facturas.paginations.totalItems',ng-model='facturas.paginations.currentPage',max-size='facturas.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='facturas.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='facturas.paginations.numPages', ng-change='facturas.changePage()', first-text="«", last-text="»")