<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label ng-if="datosParams.edit==false" class="col-md-7 control-label text-primary">Agregar: {{compromiso.model.compromisoName}}</label>
      <label ng-if="datosParams.edit==true" class="col-md-7 control-label text-primary">Editar: {{compromiso.model.compromisoName}}</label>
      <a type="button" ng-click="compromiso.dismiss()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Nombre</label>
      <div class="col-md-10">
         <input ng-model="compromiso.model.nombre" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Período</label>
      <div class="col-md-7">
         <select ng-model="tipoPeriodo.current" ng-options="item.descripcion for item in tipoPeriodo.data" ng-selected="tipoPeriodo.current.value==compromiso.model.tipoPeriodo" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Excel</label>
      <div class="col-md-7">
         <select ng-model="excel.current" ng-options="item.descripcion for item in excel.data" ng-selected="estados.current.value==compromiso.model.excel" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Word</label>
      <div class="col-md-7">
         <select ng-model="word.current" ng-options="item.descripcion for item in word.data" ng-selected="word.current.value==compromiso.model.word" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Pdf</label>
      <div class="col-md-7">
         <select ng-model="pdf.current" ng-options="item.descripcion for item in pdf.data" ng-selected="pdf.current.value==compromiso.model.pdf" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Física</label>
      <div class="col-md-7">
         <select ng-model="fisica.current" ng-options="item.descripcion for item in fisica.data" ng-selected="fisica.current.value==compromiso.model.fisica" class="form-control"></select>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button ng-show="datosParams.edit" type="button" tooltip="Guardar" ng-click="compromiso.edit()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button ng-show="!datosParams.edit" type="button" tooltip="Agrega Menú" ng-click="compromiso.add()" class="btn btn-primary">
      <span>ACEPTAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="compromiso.dismiss()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>