<html>

<body>
   <h3><a ng-click="contrato.back()" class="text-primary">Contrato</a>
      <small>Gestiona la información de los contratos</small>
   </h3>
   <div class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <div class="mb-lg clearfix">
                        <button type="button" tooltip="Guardar" ng-click="contrato.save()" class="btn btn-sm btn-primary">
                           <span>GUARDAR</span>
                        </button>
                        <button type="button" tooltip="Adjuntos" ng-click="contrato.uploadFile()" ng-show="divParticipanteContrato" class="btn btn-sm btn-default">
                           <span>ADJUNTOS</span>
                        </button>
                        <button type="button" tooltip="Agendas" ng-click="contrato.agenda()" ng-show="divParticipanteContrato" class="btn btn-sm btn-default">
                           <span>AGENDAS</span>
                        </button>
                        <button type="button" tooltip="Seguimientos" ng-click="contrato.seguimiento()" ng-show="divParticipanteContrato" class="btn btn-sm btn-default">
                           <span>...</span>
                        </button>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Inicial</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="contrato.fechaInicial.value" is-open="contrato.fechaInicial.isOpen" datepicker-options="contrato.fechaInicial.dateOptions" readonly="true" show-button-bar="false"
                              class="form-control input-sm" />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="contrato.fechaInicial.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Final</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="contrato.fechaFinal.value" is-open="contrato.fechaFinal.isOpen" datepicker-options="contrato.fechaFinal.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="contrato.fechaFinal.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Cliente</label>
                        <div class="col-md-6">
                           <ui-select ng-model="tercerosCon.current" theme="bootstrap">
                              <ui-select-match placeholder="Seleccione Cliente">{{$select.selected.tercero}}</ui-select-match>
                              <ui-select-choices repeat="m in tercerosCon.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']">
                                 <div ng-bind-html="m.tercero | highlight: $select.search"></div>
                                 <small>{{m.identificacion}}</small>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Tipo</label>
                        <div class="col-md-3">
                           <select ng-model="tipoContrato.current" ng-options="tipo.descripcion for tipo in tipoContrato.data | orderBy: 'descripcion'" ng-selected="tipo.Codigo==contrato.model.tipoContratoId" ng-change="tipoContrato.setTipo()" class="form-control"></select>
                        </div>
                        <label class="col-md-2 control-label">Objeto</label>
                        <div class="col-md-3">
                           <select ng-model="objetoContrato.current" ng-options="objeto.descripcion for objeto in objetoContrato.data | orderBy: 'descripcion'" ng-selected="objeto.Codigo==contrato.model.objetoId" ng-change="objetoContrato.setObjeto()" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Estado</label>
                        <div class="col-md-3">
                           <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==contrato.model.estado" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Descripción</label>
                        <div class="col-md-6">
                           <textarea ng-model="contrato.model.descripcion" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Usuario Reg</label>
                        <div class="col-md-3">
                           <input ng-model="contrato.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Usuario Act</label>
                        <div class="col-md-3">
                           <input ng-model="contrato.model.usuarioAct" ng-maxlength="80" ng-pattern="usuarioAct" disabled="disabled" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix"></div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Longitud</label>
                        <div class="col-md-3">
                           <input ng-model="contrato.model.longitude" ng-maxlength="80" ng-pattern="longitude" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Latitud</label>
                        <div class="col-md-3">
                           <input ng-model="contrato.model.latitude" ng-maxlength="80" ng-pattern="latitude" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Reg</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="contrato.fechaReg.value" is-open="contrato.fechaReg.isOpen" datepicker-options="contrato.fechaReg.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="contrato.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Act</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="contrato.fechaAct.value" is-open="contrato.fechaAct.isOpen" datepicker-options="contrato.fechaAct.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="contrato.fechaAct.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>
<tabset justified="true" ng-show="divParticipanteContrato" class="bg-white p0">
   <tab>
      <tab-heading>Participantes</tab-heading>
      <fieldset class="mb-sm pb-sm">
         <div class="panel">
            <div class="panel-heading">
               <div class="row">
                  <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
                     <span class="input-group-addon input-sm">
                        <em class="icon-magnifier"></em>
                     </span>
                     <input type="text" ng-model="filtroparticipanteContrato" class="form-control input-sm" />
                  </div>
                  <div class="form-group m0 col-xs-6 col-sm-9">
                     <div class="pull-right">
                        <button type="button" tooltip="Agregar Participante" ng-click="participanteContrato.add()" class="btn btn-sm btn-primary">
                           <span>
                              <em class="icon-plus"></em>
                           </span>
                           <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel-body p0">
               <div class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr>
                           <th></th>
                           <th>NOMBRE</th>
                           <th>CARGO</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="part in participanteContrato.data | filter: filtroparticipanteContrato | orderBy: 'nombre'">
                           <td class="wd-xxs">
                              <button ng-click="participanteContrato.edit(part)" class="btn btn-xs btn-primary">
                                 <span class="fa fa-pencil-square-o"></span>
                              </button>
                           </td>
                           <td>{{part.funcionario}}</td>
                           <td>{{part.cargo}}</td>
                           <td>
                              <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="participanteContrato.delete(part)" class="icon-trash mr text-danger"></em>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </fieldset>
   </tab>
   <tab>
      <tab-heading>Compromisos</tab-heading>
      <fieldset class="mb-sm pb-sm">
         <div class="panel">
            <div class="panel-heading">
               <div class="row">
                  <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
                     <label class="col-md-2 control-label">Tipo:</label>
                     <select ng-model="tipoCompromiso.current" ng-options="item.descripcion for item in tipoCompromiso.data" ng-change="compromiso.getData()" class="form-control"></select>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="panel panel-default">
               <div class="panel-body">
                  <form class="form-horizontal"></form>
                  <fieldset>
                     <div class="pull-left">
                        <button type="button" tooltip="Agregar " ng-click="compromiso.addCompromiso()" class="btn btn-sm btn-primary">
                           <span>
                              <em class="icon-plus"></em>
                           </span>
                           <span>Compromiso</span>
                        </button>
                        <button type="button" tooltip="Guardar" ng-click="compromiso.save()" class="btn btn-sm btn-primary">
                           <span>
                              <em class="icon-save"></em>
                           </span>
                           <span>Guardar</span>
                           <br/>
                        </button>
                     </div>
                  </fieldset>
                  <div ng-repeat="item in compromiso.data" ng-init="showsubCompromiso = false" class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th>
                                 <em ng-if="item.subCompromiso!=null" ng-class="{'fa-plus-circle' : item.show == false, 'fa-minus-circle': item.show == true}" ng-click="item.show = !item.show" class="fa text-primary"></em>
                                 <em ng-if="item.subCompromiso==null" ng-class="{'fa-minus' : true}" class="fa text-primary"></em>
                                 <span ng-click="showsubCompromiso = !showsubCompromiso; compromiso.getParticipante(item)" class="lead ml-lg text-sm text-primary">{{item.nombre}}</span>
                              </th>
                              <th>
                                 <div class="ph m0 text-muted visible-inline pull-right">
                                    <em tooltip="Editar" tooltip-placement="bottom" ng-click="compromiso.edit(item)" class="icon-pencil mr text-primary"></em>
                                    <em tooltip="Agregar" tooltip-placement="bottom" ng-click="compromiso.addsubCompromiso(item)" class="icon-plus mr text-primary"></em>
                                    <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="compromiso.remove(item)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar" tooltip-placement="bottom" ng-click="compromiso.getParticipante(item)" class="fa fa-angle-double-right mr text-primary"></i>
                                 </div>
                              </th>
                           </tr>
                        </thead>
                        <tbody ng-repeat="subItem in item.subCompromiso" ng-if="item.show">
                           <tr>
                              <td>
                                 <div class="col-sm-2"></div>
                                 <em ng-if="subItem.subCompromiso!=null" ng-class="{'fa-plus-circle' : subItem.show == false, 'fa-minus-circle': subItem.show == true}" ng-click="subItem.show = !subItem.show" class="fa text-primary"></em>
                                 <em ng-if="subItem.subCompromiso==null" ng-class="{'fa-minus' : true}" class="fa text-primary"></em>
                                 <span ng-click="compromiso.getParticipante(subItem)" class="lead ml-lg text-sm text-primary">{{subItem.nombre}}</span>
                              </td>
                              <td class="wd-sm">
                                 <div class="ph m0 text-muted visible-inline pull-right">
                                    <em tooltip="Editar" tooltip-placement="bottom" ng-click="compromiso.edit(subItem)" class="icon-pencil mr text-primary"></em>
                                    <em tooltip="Agregar" tooltip-placement="bottom" ng-click="compromiso.addsubCompromiso(subItem)" class="icon-plus mr text-primary"></em>
                                    <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="compromiso.remove(subItem)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar" tooltip-placement="bottom" ng-click="compromiso.getParticipante(subItem)" class="fa fa-angle-double-right mr text-primary"></i>
                                 </div>
                              </td>
                           </tr>
                           <tr ng-repeat="subItems in subItem.subCompromiso" ng-if="subItem.show">
                              <td>
                                 <div class="col-sm-3"></div>
                                 <em ng-class="{'fa-minus' : true}" class="fa text-primary"></em><i ng-click="compromiso.getParticipante(subItems)" class="lead ml-lg text-sm text-primary">{{subItems.nombre}}</i>
                              </td>
                              <td class="wd-sm">
                                 <div class="ph m0 text-muted visible-inline pull-right">
                                    <em tooltip="Editar " tooltip-placement="bottom" ng-click="compromiso.edit(subItems)" class="icon-pencil mr text-primary"></em>
                                    <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="compromiso.remove(subItems)" class="icon-trash mr text-danger"></em><i tooltip="Mostrar" tooltip-placement="bottom" ng-click="compromiso.getParticipante(subItems)" class="fa fa-angle-double-right mr text-primary"></i>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="panel panel-default">
               <div class="panel-body">
                  <form class="form-horizontal"></form>
                  <fieldset>
                     <legend>Participantes ({{nombreCompromiso}})</legend>
                     <div ng-repeat="item in participantes.data" class="mb-sm clearfix">
                        <div class="col-sm-10">
                           <span class="lead ml-lg text-sm text-primary checkbox c-checkbox m0">
                              <label>
                                 <input type="checkbox" ng-model="item.seleccionado" ng-click="participantes.checkParticipante(item)" />
                                 <span class="fa fa-check"></span>
                              </label>
                              <label ng-click="">{{item.rol}}</label>
                           </span>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </div>
         </div>
      </fieldset>
   </tab>
</tabset>