<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-3 control-label text-primary">Campo: {{contratoCampo.nombreCampo}}</label>
      <label class="col-md-3 control-label text-primary">Contrato: {{contratoCampo.nombreContrato}}</label>
      <a type="button" ng-click="contratoCampo.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Tipo Hidr.</label>
      <div class="col-md-3">
         <select ng-model="hidro" ng-change="contratoCampo.getHidrocarburo(hidro)" class="form-control">
            <option value="O" selected="selected">Crudo</option>
            <option value="G">Gas</option>
         </select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Tipo Prod.</label>
      <div class="col-md-3">
         <select ng-model="tprod" ng-change="contratoCampo.getProduccion(tprod)" class="form-control">
            <option value="B" selected="selected">Básica</option>
            <option value="I">Incremental</option>
         </select>
      </div>
   </div>
   <div class="row">
      <div class="form-group col-sm-12">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <td>
                        <div class="col-md-5">FORMACIÓN</div>
                     </td>
                     <td>
                        <div class="col-md-5">LEY % REGALIA</div>
                     </td>
                     <td>
                        <div class="col-md-5">ACTIVO</div>
                     </td>
                     <td></td>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="formacionContrato in contratoCampo.detalleContrato">
                     <td>{{formacionContrato.nombreFormacion}}</td>
                     <td>
                        <select ng-model="formacionContrato.leyRegaliasId" class="form-control">
                           <option ng-repeat="leyes in ley.dataRegalias" value="{{leyes.leyId}}" ng-selected="leyes.leyId==formacionContrato.leyRegaliasId">{{leyes.nombre}}</option>
                        </select>
                     </td>
                     <td>
                        <div class="checkbox c-checkbox m0">
                           <label>
                              <input type="checkbox" ng-model="formacionContrato.activo" ng-true-value="1" ng-false-value="0" ng-click="" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td>
                        <em tooltip="Guardar" tooltip-placement="bottom" ng-click="contratoCampo.update(formacionContrato)" class="fa fa-floppy-o"></em>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" ng-click="contratoCampo.updateAll(); contratoCampo.close()" class="btn btn-primary">Guardar</button>
   <button type="button" ng-click="contratoCampo.close()" class="btn btn-default">Cancelar</button>
</div>