<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">CAMBIAR ESTADO
         <a type="button" ng-click="contrato.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="col-md-12">
      <div class="form-group m-sm">
         <div class="mb-sm clearfix">
            <span class="col-md-2">Estado</span>
            <div class="col-md-10">
               <select ng-model="forma30.estado" ng-options="estado.nombre for estado in estados" class="form-control"></select>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-2">Observación</span>
            <div class="col-md-10">
               <textarea ng-model="forma30.model.gasFormacion" class="form-control input-sm"></textarea>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="submit" class="btn btn-primary">Guardar</button>
   <button type="button" ng-click="contrato.close()" class="btn btn-default">Cancelar</button>
</div>