<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">ACTUALIZAR INFORMACION
         <a type="button" ng-click="recaudo.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="col-md-6">
      <div class="form-group m-sm">
         <div class="mb-sm clearfix">
            <span class="col-md-6">Campo</span>
            <div class="col-md-6">
               <input type="text" ng-model="recaudo.campo" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Precio ECP</span>
            <div class="col-md-6">
               <input type="text" ng-model="recaudo.ecp" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Precio Liq</span>
            <div class="col-md-6">
               <input type="text" ng-model="recaudo.liq" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Destino</span>
            <div class="col-md-6">
               <input type="text" ng-model="recaudo.destino" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Tipo Recaudo</span>
            <div class="col-md-6">
               <input type="text" ng-model="recaudo.tipo" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Volumen</span>
            <div class="col-md-6">
               <input type="text" ng-model="recaudo.volumen" class="form-control input-sm" />
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="submit" class="btn btn-primary">Guardar</button>
   <button type="button" ng-click="recaudo.close()" class="btn btn-default">Cancelar</button>
</div>