<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">ACTUALIZAR INFORMACION
         <a type="button" ng-click="recaudo.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <span ng-if="mensaje!=null" class="alert alert-danger">{{mensaje}}</span>
   <div class="mb-sm clearfix">
      <div class="form-group m-sm">
         <div class="mb-sm clearfix">
            <span class="col-md-6">Campo</span>
            <div class="col-md-6">
               <input type="text" ng-model="recaudo.model.nombreCampo" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Precio ECP</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="recaudo.model.precioEcp" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Precio Liq</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="recaudo.model.precioLiq" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Destino</span>
            <div class="col-md-6">
               <select ng-model="destino.current" ng-options="destino.name for destino in destino.data" class="form-control"></select>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Tipo Recaudo</span>
            <div class="col-md-6">
               <select ng-model="formaRecaudo.current" ng-options="formaRecaudo.name for formaRecaudo in formaRecaudo.data" class="form-control"></select>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Volumen</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="recaudo.model.valor" class="form-control input-sm" />
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" ng-click="recaudo.send()" class="btn btn-primary">Guardar</button>
   <button type="button" ng-click="recaudo.close()" class="btn btn-default">Cancelar</button>
</div>