<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">EDITAR REGISTRO CURVA BASE
         <a type="button" ng-click="curvaBase.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <span ng-if="mensaje!=null" class="alert alert-danger">{{mensaje}}</span>
   <div class="mb-sm clearfix">
      <div class="form-group m-sm">
         <div class="mb-sm clearfix">
            <span class="col-md-6">AÑO</span>
            <div class="col-md-6">
               <input type="text" ng-model="curvaBase.lista.anio" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">ENERO</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes1" ng-disabled="listaDisableCampos.mes1" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">FEBRERO</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes2" ng-disabled="listaDisableCampos.mes2" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">MARZO</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes3" ng-disabled="listaDisableCampos.mes3" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">ABRIL</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes4" ng-disabled="listaDisableCampos.mes4" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">MAYO</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes5" ng-disabled="listaDisableCampos.mes5" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">JUNIO</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes6" ng-disabled="listaDisableCampos.mes6" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">JULIO</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes7" ng-disabled="listaDisableCampos.mes7" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">AGOSTO</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes8" ng-disabled="listaDisableCampos.mes8" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">SEPTIEMBRE</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes9" ng-disabled="listaDisableCampos.mes9" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">OCTUBRE</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes10" ng-disabled="listaDisableCampos.mes10" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">NOVIEMBRE</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes11" ng-disabled="listaDisableCampos.mes11" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">DICIEMBRE</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="curvaBase.lista.mes12" ng-disabled="listaDisableCampos.mes12" class="form-control input-sm" />
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" ng-click="curvaBase.send()" class="btn btn-primary">Guardar</button>
   <button type="button" ng-click="curvaBase.close()" class="btn btn-default">Cancelar</button>
</div>