<h3>Volumen Puerto</h3>
<div class="row">
   <div class="panel">
      <span ng-if="mensaje!=null" class="alert alert-danger">{{mensaje}}</span>
      <div class="panel-body">
         <div class="row">
            <form role="form" class="form-horizontal mb-lg col-md-7">
               <fieldset class="mb-sm pb-sm">
                  <div class="mb-sm clearfix">
                     <label class="col-sm-2 control-label">Año</label>
                     <div class="col-sm-4">
                        <select ng-model="year.current" ng-options="year.name for year in year.data" requiered="requiered" class="form-control"></select>
                     </div>
                     <label class="col-sm-2 control-label">Mes</label>
                     <div class="col-sm-4">
                        <select ng-model="month.current" ng-options="month.name for month in month.data" class="form-control"></select>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-2 control-label">Tipo Operacion</label>
                     <div class="col-sm-4">
                        <select ng-model="tipoOpe.current" ng-change="selectAction()" ng-options="tipoOpe.name for tipoOpe in tipoOpe.data" class="form-control"></select>
                     </div>
                     <label class="col-sm-2 control-label">Puerto</label>
                     <div class="col-sm-4">
                        <select ng-model="puertos.current" ng-options="puertos.nombre for puertos in puertos.data" class="form-control"></select>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <br/>
                     <button type="submit" ng-click="consultar()" class="btn btn-sm btn-primary">
                        <span class="hidden-xs">CONSULTAR</span>
                     </button>
                  </div>
               </fieldset>
            </form>
         </div>
         <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
            <span class="input-group-addon input-sm">
               <em class="icon-magnifier"></em>
            </span>
            <input type="text" ng-change="dataPage.filter()" ng-model="dataPage.filterText" class="form-control input-sm" />
         </div>
         <div class="input-group m0 pull-right">
            <label class="pr control-label">Volumen</label>
            <input ui-number-mask="2" ng-model="volumenPuertoDistribuir" ng-disabled="consultaData" class="input-sm" />
            <button type="button" ng-click="distribuir()" ng-disabled="consultaData" class="btn btn-sm btn-primary">
               <span>
                  <em class="icon-equalizer"></em>
               </span>
               <span class="hidden-xs">Distribuir</span>
            </button>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>PROCEDENCIA</th>
                     <th>VOLUMEN</th>
                     <th>PRECIO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="4" ng-show="dataPage.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="4" ng-show="dataPage.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in dataPage.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.procedenciaNombre }}</td>
                     <td>{{ item.volumen }}</td>
                     <td>{{ item.precio }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Actualizar Registro" tooltip-placement="bottom" ng-click="dataPage.actualizar(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="dataPage.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="dataPage.paginations.totalItems" ng-model="dataPage.paginations.currentPage" max-size="dataPage.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="dataPage.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="dataPage.paginations.numPages" ng-change="dataPage.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>