<html>

<body>
   <h3><a ng-click="mensajeria.back()" class="text-primary">Mensajeria</a>
      <small>Gestiona la información de la mensajeria</small>
   </h3>
   <div class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <div class="mb-lg clearfix">
                        <button type="button" tooltip="Guardar" ng-click="mensajeria.save()" class="btn btn-sm btn-primary">
                           <span>GUARDAR</span>
                        </button>
                        <button type="button" tooltip="Adjuntos" ng-click="mensajeria.uploadFile()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>ADJUNTOS</span>
                        </button>
                        <button type="button" tooltip="Agendas" ng-click="mensajeria.agenda()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>AGENDAS</span>
                        </button>
                        <button type="button" tooltip="Seguimiento" ng-click="mensajeria.seguimiento()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>...</span>
                        </button>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Consecutivo</label>
                        <div class="col-md-3">
                           <input ng-model="mensajeria.model.consecutivo" ng-maxlength="80" ng-pattern="consecutivo" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Estado</label>
                        <div class="col-md-3">
                           <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==mensajeria.model.estado" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Cliente</label>
                        <div class="col-md-6">
                           <ui-select ng-model="tercerosOp.current" theme="bootstrap" on-select="tercerosOp.setContactoTercero()">
                              <ui-select-match placeholder="Seleccione Cliente">{{$select.selected.tercero}}</ui-select-match>
                              <ui-select-choices repeat="m in tercerosOp.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']">
                                 <div ng-bind-html="m.tercero | highlight: $select.search"></div>
                                 <small>{{m.identificacion}}</small>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Descripción</label>
                        <div class="col-md-6">
                           <textarea ng-model="mensajeria.model.descripcion" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Jornada</label>
                        <div class="col-md-3">
                           <select ng-model="jornadas.current" ng-options="item.descripcion for item in jornadas.data" ng-selected="jornadas.current.value==mensajeria.model.jornada" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="mensajeria.fechaRec.value" is-open="mensajeria.fechaRec.isOpen" datepicker-options="mensajeria.fechaRec.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="mensajeria.fechaRec.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Tipo</label>
                        <div class="col-md-3">
                           <select ng-model="tipos.current" ng-options="item.descripcion for item in tipos.data" ng-selected="tipos.current.value==mensajeria.model.tipo" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Usuario Reg</label>
                        <div class="col-md-3">
                           <input ng-model="mensajeria.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Usuario Act</label>
                        <div class="col-md-3">
                           <input ng-model="mensajeria.model.usuarioAct" ng-maxlength="80" ng-pattern="usuarioAct" disabled="disabled" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Reg</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="mensajeria.fechaReg.value" is-open="mensajeria.fechaReg.isOpen" datepicker-options="mensajeria.fechaReg.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="mensajeria.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Act</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="mensajeria.fechaAct.value" is-open="mensajeria.fechaAct.isOpen" datepicker-options="mensajeria.fechaAct.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="mensajeria.fechaAct.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>