<h3>Mensajerias
   <small>Control de Mensajeria</small>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix"></div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="mensajerias.filter()" ng-model="mensajerias.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="mensajerias.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.SELECT' | translate }}" ng-click="mensajerias.selectAll()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-primary icon-check"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.DELETE' | translate }}" ng-click="mensajerias.remove()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-danger icon-trash"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>CONSECUTIVO</th>
                     <th>FECHA</th>
                     <th>CLIENTE</th>
                     <th>FECHA RECIBO</th>
                     <th>TIPO</th>
                     <th>ESTADO</th>
                     <th>JORNADA</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="8" ng-show="mensajerias.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="8" ng-show="mensajerias.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in mensajerias.data " ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.consecutivo }}</td>
                     <td>{{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td>{{ item.tercero }}</td>
                     <td>{{ item.fechaRec | date:'dd/M/yyyy' }}</td>
                     <td>
                        <span ng-if="item.tipo == 1" class="label label-default">Recibida</span>
                        <span ng-if="item.tipo == 2" class="label label-default">Programada</span>
                     </td>
                     <td>
                        <span ng-if="item.estado == ESTADO_PROCESO" class="label label-primary">Proceso</span>
                        <span ng-if="item.estado == ESTADO_ANULADO" class="label label-default">Anulado</span>
                        <span ng-if="item.estado == ESTADO_CERRADO" class="label label-warning">Cerrado</span>
                     </td>
                     <td>
                        <span ng-if="item.jornada == JORNADA_MANANA" class="label label-primary">Mañana</span>
                        <span ng-if="item.jornada == JORNADA_TARDE" class="label label-default">Tarde</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar " tooltip-placement="bottom" ng-click="mensajerias.edit(item)" class="icon-pencil mr"></em>
                           <em tooltip="Eliminar " tooltip-placement="bottom" ng-click="mensajerias.removeItem(item)" class="icon-trash mr text-danger"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="mensajerias.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="mensajerias.paginations.totalItems" ng-model="mensajerias.paginations.currentPage" max-size="mensajerias.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="mensajerias.paginations.itemsPerPage"
            previous-text="‹" next-text="›" num-pages="mensajerias.paginations.numPages" ng-change="mensajerias.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>