<h3>
   <span class="text-primary">{{ report.description }}</span>
   <small>{{ report.description }}</small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-body">
         <form role="form" class="form-horizontal mb-lg">
            <div class="form-group m-sm">
               <fieldset class="mb-sm pb-sm">
                  <div class="col-md-12 mb-sm clearfix">
                     <div ng-repeat="filter in report.filters">
                        <label class="col-md-2 control-label">{{ filter.label }}</label>
                        <dynamic-input filter="filter" ng-model="filter" class="col-md-4 mb-sm"></dynamic-input>
                     </div>
                  </div>
               </fieldset>
            </div>
            <div class="form-group m-sm">
               <div class="mb-sm clearfix">
                  <col-sm-6>
                     <button type="button" ng-click="report.execute()" class="btn btn-sm btn-primary">
                        <span class="hidden-xs">EJECUTAR</span>
                     </button>
                     <button type="button" ng-click="report.downloadXLS()" class="btn btn-sm btn-default">
                        <span class="hidden-xs">DESCARGAR</span>
                     </button>
                     <button type="button" ng-click="report.showReport()" ng-show="report.model.urlTemplate != null" class="btn btn-sm btn-default">
                        <span class="hidden-xs">VISUALIZAR</span>
                     </button>
                  </col-sm-6>
                  <div class="col-sm-4 pull-right">
                     <input ng-model="report.filterText" ng-change="report.filter()" placeholder="Búsqueda" class="form-control input-sm" />
                  </div>
               </div>
            </div>
         </form>
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th ng-repeat="column in report.model.columns">{{ column.colTitle }}</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="item in report.data">
                     <td ng-repeat="column in report.model.columns">{{ item[column.colTitle] }}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="row">
            <div ng-hide="report.paginations.numPages == 1" class="col-lg-12">
               <pagination total-items="report.paginations.totalItems" ng-model="report.paginations.currentPage" max-size="report.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="report.paginations.itemsPerPage" previous-text="‹"
               next-text="›" num-pages="report.paginations.numPages" ng-change="report.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
            </div>
         </div>
      </div>
   </div>
</div>